{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
   <div class="w-screen h-screen bg-gradient-to-br from-blue-400 to-blue-600 flex flex-col justify-center items-center">
      <div class="flex w-2/3 bg-white p-5 shadow-lg justify-content-center">
         <div class="flex-1 flex justify-center items-center">
            <img src="{{ asset('build/images/logo.jpg') }}" width="300"/>
         </div>
         <form method="post" class="flex-1 w-full needs-validation flex flex-col" novalidate>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <h3 class="text-2xl font-bold">Dummy Company</h3>
            <div class="mt-2">
               <label for="username" class="form-label">
                  {% trans %}account.login.Username{% endtrans %}
               </label>
               <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mt-2">
               <label for="username" class="form-label">
                  {% trans %}account.login.Password{% endtrans %}
               </label>
               <input type="password" class="form-control" id="password" name="password">
            </div>
            {% if error %}
               <div class="alert alert-danger mt-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="m-5 mt-10">
               <button type="submit" class="btn btn-primary  w-full">
                  {% trans %}action.Login{% endtrans %}
               </button>
            </div>

         </form>
      </div>

   </div>
{% endblock %}
